html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

audio {
  width: 100%;
}

.section {
  margin-top: 20px;
}

.two-column {
  display: flex;
  justify-content: space-evenly;
}

.section span {
  font-size: 14pt;
  font-weight: bold;
  display: block;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tiles>div {
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: #ffffff;
  margin: 2px;
  padding: 5px;
  box-sizing: border-box;
}

.tiles>div:hover {
  filter: brightness(0.9);
}

.tiles>.song {
  background-color: #0071bc;
}

.tiles>.clip {
  background-color: #cc0000;
}


#content {
  display: flex;
  height: 120px;
  text-align: center;
  align-items: center;
}

#left,
#right {
  width: 120px;
}

#middle {
  background: #222;
  color: #fff;
  width: 220px;
}

.clock {
  height: 80%;
  font-size: 60pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock.stopped {
  color: #ffb;
}

.clock>.high {
  height: 100%;
  width: 40%;
  text-align: right;
}

.clock>.separator {
  height: 100%;
  width: 10%;
  text-align: center;
}

.clock>.low {
  height: 100%;
  width: 50%;
  text-align: left;
}

.clock.seconds>.high {
  width: 55%;
}

.clock.seconds>.low {
  width: 35%;
}

.period {
  height: 20%;
}

.name {
  height: 20%;
  font-size: 16pt;
}

.score {
  height: 60%;
  font-size: 60pt;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.timeouts {
  height: 20%;
  font-size: 16pt;
  user-select: none;
  cursor: pointer;
}

#left {
  background: #f12;
  color: #fff;
}

#right {
  background: #21f;
  color: #fff;
}

.settings-form {
    display: flex;
}

.settings-form > div {
    margin: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.settings-form > div > div {
    font-size: 0.8rem;
    color: #666;
}

.settings-form > div > input {
    width: 100px;
}

.controls-form {
    display: flex;
}

.controls-form > .side {
  width: 120px;
}

.controls-form > .middle {
  width: 220px;
}

.controls-form > div > div {
    margin: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.controls-form > div > div > div {
    font-size: 0.8rem;
    color: #666;
}

.controls-form > div > div > input {
    width: 100px;
}

#play-pause {
    height: 80px;
    width: 80px;
    font-size: 40px;
    border: none;
    margin-left: 5px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-team-players > *,
#right-team-players > * {
  margin-bottom: 2px;
}

.player {
  display: flex;
}

.player .jersey-number {
  width: 50px;
}

.player .first-name {
  width: 150px;
}

.player .last-name {
  width: 150px;
}

.goal span {
  display: inline;
  font-size: 12pt;
  color: #666;
  font-style: italic;
  font-weight: normal;
}